@app.route("/", methods=["GET", "POST"])
def index():

    variables = obtener_variables()

    if request.method == "POST":

        valores = {
            v: request.form.get(v, "")
            for v in variables
        }

        doc = Document(PLANTILLA)
        reemplazar(doc, valores)

        docx_path = os.path.join(CARPETA, "documento.docx")
        doc.save(docx_path)

        return send_file(docx_path, as_attachment=True)

    return render_template("index.html", variables=variables)
